/* .card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  transition: transform 200ms ease-in;
}
.card3__image {
  display: block;
  height: 12rem;
  object-fit: cover;
}

.card3__title {
  padding: 1rem;
} */
.container {
  display: flex;
  flex-direction: row;
}
.card {
  border: 0.2px solid #eee;
  width: 150px;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  box-shadow: 10px 10px 8px -7px rgba(67, 64, 77, 0.5);
}

.card3__image {
  width: 90px;
  height: 90px;
  margin-top: 10px;
  margin-bottom: 40px;
}
.card3__title {
  font-size: 18px;
}
.card:hover {
  transform: scale(1.1);
  transition-duration: 1s;
}
