.services-container {
  margin: 0 auto;
  text-align: center;
}
.services-text {
  height: 150px;
}

.services-text h2 {
  margin-top: 20px;
  font-size: 4rem;
}
.services-text h3 {
  font-size: 1.5rem;
}

@media (max-width: 1200px) {
  .services-text h2 {
    font-size: 3rem;
  }
  .services-text h3 {
    font-size: 1rem;
  }
}
